extends templates/main.pug
block content
  .about-page
    .content__container
        .tw-row
            span.section-heading
                span.heading-content Shipping and payment
            .tw-column.tw-column_6of12
                span.heading Shipping
                p.
                    1. The courier "New mail" - 60 hryvnia, when paying On-line, the cost of delivery by courier -
                    40 hryvnia. Produced by courier at the specified address of the buyer, and is possible only
                    if there is a representation of this courier service in your city: separation. Choosing
                    this method, your parcel will come faster 2-4 business days. The courier will call you
                    about the time of delivery to the number you specified at the time of registration
                p.
                    2. Ukrposhta - 40 UAH, in addition you pay for Ukrposhta services related to cash on delivery
                    (according to the current tariffs) - this is approximately 1.2-4% of the amount of your order:
                    Ukrposhta tariffs. This type of delivery can be used only by private individuals
                    in Ukraine. Valid for all regions of the country (the goods are delivered to any locality).
                    We will send you a parcel to the specified address. You redeem the order directly
                    upon receipt at the office.
            .tw-column.tw-column_6of12
                span.heading Payment
                p.
                    1. Cash payment to the courier upon receipt of the goods or cash on delivery, at Ukr.
                    Mail when the parcel is received if the delivery is selected by Ukrposhta
                    We advise on-line payments - this is a faster and more convenient method, also with
                    a possible return of the goods.
                p.
                    2. Portmone (credit cards Visa & MasterCard) Portmone. You can pay on-line, that
                    is at the time of making an order - by Internet transfer by credit card.
                    It should be noted that the order with the on-line payment form must be paid,
                    otherwise, the unpaid order will not be included in the main database,
                    and will not be realized.
