extends templates/main.pug
block content
  .catalog-page
    +breadcrumbs(['man'], 'JACKETS')
    .catalog-promo
      .content__container
        .tw-row
          .box
            span.heading Jackets man
            p.
              Update your outerwear with our full range from timelessly cool leather biker
              jacket, tailored coats or casual parkas. Go contemporary.
          .img-wrap
            +image('catalog-promo.png')(class="promo-img")
    .content__container
      .tw-row
        include templates/sidebar.pug
        .main-content
          .sort-panel
            span.heading Sort by:
            .select-group
              select
                option(value='price') Price
                option(value='asc') Asc
                option(value='desc') Desc
              select
                option(value='date') Date
                option(value='asc') Asc
                option(value='desc') Desc
              select
                option(value='popularity') Popularity
                option(value='asc') Asc
                  option(value='desc') Desc
              select
                option(value='number-of-reviews') Number of reviews
                option(value='asc') Asc
                  option(value='desc') Desc
              select
                option(value='discounts') Discounts
                option(value='asc') Asc
                option(value='desc') Desc
          .product-grid
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/2.png')
                span.product-price $250
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/3.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/4.png')
                span.product-price $170
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="170") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/5.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/6.png')
                span.product-price $135
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="135") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/7.png')
                span.product-price
                  span.special-price $150
                  span.old-price $265
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/8.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/9.png')
                span.product-price $340
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="340") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/10.png')
                span.product-price $220
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="220") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/4.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart

            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart

            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
            a.product-item-wrap(href="product-page.html")
              .product-item
                .product-image
                  +image('catalog/1.png')
                span.product-price $150
                span.product-name North Face Rubber
                span.product-category Jacket
                span.product-color Color:
                  span.product-color-list
                    span.color-blue
                    span.color-red
                    span.color-green
                span.product-size Size: #[span.size-list S / M / XL]
                .buttons
                  span BUY
                  span(class="cd-add-to-cart" data-price="250") Add To Cart
          ul.pagination
            li.pagination-item.arrow-prev Prev
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
              li.pagination-item
                if val === 3
                  =val
                else
                  a(href="#")= val
            li.pagination-item.arrow-next Next