extends templates/main.pug
block content
  .home-page
    section.autumn-sale
      .content__container
        .tw-row
          .tw-column.tw-column_6of12.tw-column_12of12-sm.tw-column_push6of12.tw-column_push5of12-xxl.no-push-sm
            span.like-heading-h2.
              Autumn sale
            p.
              Hurry up to buy quality, durable clothing for fall with different technologies at the lowest price.
            a(href="catalog.html" class="btn btn-primary") Shop now
    section.new-arrival
      .content__container
        span.section-heading
          span.heading-content New arrival
        .tw-row
          .tw-column.tw-column_6of12
            span.like-heading-h3.
              For man
            p.text-wrap.
              Check out the new product for men. In our store great prices on the new model, sold exclusively original and is a guarantee of quality.
          .tw-column.tw-column_6of12.text-right
            .img-wrap.male-lookbook
              .control.control-jacket.item-select
                .info-loader
                  .product-header
                    .product-image
                      +image('product-image.png')
                    .wrap
                      span.product-name REMADE Utility Biker Olive
                      span.product-price $1500
                  .table.product-info
                    .tr
                      .td Color
                        span.color-option
                          span.color.color-green.color-active
                          span.color.color-red
                          span.color.color-brown
                    .tr
                      .td Size S M XL
                    .tr
                      .td Count - 1 +
                      .td Add to wishlist
                  a(href="#" class="btn btn-primary") Add to cart

              +image('for-man.png')
        .tw-row
          .tw-column.tw-column_6of12
            .female-lookbook
              +image('for-woman.png')
          .tw-column.tw-column_6of12
            span.like-heading-h3.
              For woman
            p.text-wrap.
              Check out the new product for men. In our store great prices on the new model, sold exclusively original and is a guarantee of quality.]
    section.new-acronym-collection
      .content__container
        span.section-heading
          span.heading-content New acronym collection
        .tw-row
          .img-wrap
            +image('acronym-collection-1.png')
            .more-info
              span.heading Woman street pack
              span.more-info-content.
                Set of women's clothing for the most comfortable movement on city streets.
              a(href="catalog.html" class="btn btn-primary") Shop now
          .img-wrap
            +image('acronym-collection-2.png')
            .more-info
              span.heading Woman street #[<br>] pack
              span.more-info-content.
                Set of women's clothing for the most comfortable movement on city streets.
              a(href="catalog.html" class="btn btn-primary") Shop now
          .img-wrap
            +image('acronym-collection-3.png')
            .more-info
              span.heading Woman street pack
              span.more-info-content.
                Set of women's clothing for the most comfortable movement on city streets.
              a(href="catalog.html" class="btn btn-primary") Shop now
    section.our-technology
      .content__container
        span.section-heading
          span.heading-content Our technology
        .tw-row
          .our-technology-slider
            .img-wrap
              +image('our-technology.png')
              span.product-name.
                Extrem Hagshu Jacket Berghaus (SS17)
                #[span.font-bigger GORE-TEX JACKET]
            .img-wrap
              +image('our-technology.png')
              span.product-name.
                Extrem Hagshu Jacket Berghaus (SS17)
                #[span.font-bigger GORE-TEX JACKET]
    section.subscribe
      .content__container
        span.section-heading
          span.heading-content Subscribe to the newsletter of discounts
        .tw-row
          form.subscribe-form
            .field-wrap
              input(type="text" name="name" class="field" placeholder="Enter your name")
            .field-wrap
              input(type="text" name="email" class="field" placeholder="Enter your placeholder")
            button(type="submit" class="btn btn-primary") Subscribe