extends templates/main.pug
block content
  .product-page
    +breadcrumbs(['man', 'jackets'], 'REMADE Utility Biker Olive')
    .content__container
      .tw-row
        .tw-column.tw-column_7of12.tw-column_8of12-xxl.mod
          section.product-gallery
            .slider-nav
              +image('product-gallery/1.jpg')
              +image('product-gallery/2.jpg')
              +image('product-gallery/3.jpg')
              +image('product-gallery/4.jpg')
              +image('product-gallery/5.jpg')
            .slider-for
              +image('product-gallery/1.jpg')
              +image('product-gallery/2.jpg')
              +image('product-gallery/3.jpg')
              +image('product-gallery/4.jpg')
              +image('product-gallery/5.jpg')
          section.product-reviews
            .heading
              span.heading-content Reviews
              span.box-pagination
                .slider-pagination
                  .left-btn
                  span.page-info 1/3
                  .right-btn
            .reviews.reviews-slider
              .wrap
                .review
                  .review_header
                    .review_author karatel3000
                    .review_date / 13.11.2017
                  .review_text.
                    This is my second jacket from the company Braggart.
                    From the first was not happy. The company does not
                    control the sale of counterfeits. More than two
                    years thought that this is the original ... #[a(href="#" class="review_readmore") Read more]
                .review
                  .review_header
                    .review_author bubblegum666
                    .review_date / 13.11.2017
                  .review_text.
                    This is my second jacket from the company Braggart.
                    From the first was not happy. The company does not
                    control the sale of counterfeits. More than two
                    years thought that this is the original ... #[a(href="#" class="review_readmore") Read more]
              .wrap
                .review
                  .review_header
                    .review_author karatel3000
                    .review_date / 13.11.2017
                  .review_text.
                    This is my second jacket from the company Braggart.
                    From the first was not happy. The company does not
                    control the sale of counterfeits. More than two
                    years thought that this is the original ... #[a(href="#" class="review_readmore") Read more]
                .review
                  .review_header
                    .review_author bubblegum666
                    .review_date / 13.11.2017
                  .review_text.
                    This is my second jacket from the company Braggart.
                    From the first was not happy. The company does not
                    control the sale of counterfeits. More than two
                    years thought that this is the original ... #[a(href="#" class="review_readmore") Read more]
              .wrap
                .review
                  .review_header
                    .review_author bubblegum666
                    .review_date / 13.11.2017
                  .review_text.
                    This is my second jacket from the company Braggart.
                    From the first was not happy. The company does not
                    control the sale of counterfeits. More than two
                    years thought that this is the original ... #[a(href="#" class="review_readmore") Read more]
            a(href="#" class="btn btn-ghost") Leave a review
        .tw-column.tw-column_5of12.tw-column_4of12-xxl.mod
          section.product-options
            .product-header
              span.product-name REMADE Utility Biker Olive
              span.product-price $1500
            .table.product-info
              .tr
                .td Color
                  span.color-option.selects
                    span.color.color-green.active.item-select-one
                    span.color.color-red.item-select-one
                    span.color.color-brown.item-select-one
              .tr
                .td Size
                  span.selects.sizes
                    span.item-select-one S
                    span.item-select-one M
                    span.item-select-one XL
              .tr
                .td
                  .quantity
                    span Count
                    span.control-count.control-decr
                    input(type="text" class="quantity-value" value="1" disabled)
                    span.control-count.control-incr
                .td.wishlist Add to wishlist
            a(href="#" class="btn btn-primary") Add to cart
          section.product-description
            .tab-container
              .tabs
                a.tab.active Description
                a.tab Details
                a.tab Delivery
              .tab-panes
                .tab-pane.active.
                  This urban bomber jacket is crafted from shiny nylon fabric and padded for extra warmth.
                  The unisex design is updated with bold lace-up detailing along the back and sleeves. Subtle contrasting stitching, a utility-inspired velcro patch and the oversized zipper puller complete the design.
                  The REMADE Utility Biker has been crafted from bomb disposal uniform sleeves patchworked together.
                  Model is 6'1"/185cm with a 37"/94cm chest and wears a size Medium.
                  Part of our Remade in England collection, this jacket is one of a maximum 50 in existence.
                  A collaborative, creative fashion studio where daily design meets painstaking production, alongside monthly events, discussions and workshops.
                  This Biker jacket has been REMADE from 100% wool military surplus blanket and features camo patches made from compact fleece.
                .tab-pane.
                  This urban bomber jacket is crafted from shiny nylon fabric and padded for extra warmth.
                  The unisex design is updated with bold lace-up detailing along the back and sleeves. Subtle contrasting stitching, a utility-inspired velcro patch and the oversized zipper puller complete the design.
                .tab-pane.
                  Part of our Remade in England collection, this jacket is one of a maximum 50 in existence.
                  A collaborative, creative fashion studio where daily design meets painstaking production, alongside monthly events, discussions and workshops.
                  This Biker jacket has been REMADE from 100% wool military surplus blanket and features camo patches made from compact fleece.
      .tw-row
        include templates/related-items
