.text-decorate {
  background: url('@{images}/wave-big.png') center bottom no-repeat;
  padding-bottom: 20px;
}

.list {
  &-markers {
    padding-left: 35px;
    li {
      position: relative;
    }
    .icon {
      position: absolute;
      top: 7px;
      left: -34px;
      .mix-fz(20);
      color: @color-main;
    }
  }
}

.text-invert {
  color: #fff !important;
}

.font-underline {
  text-decoration: underline;
}

.mix-adaptive(no-uppercase, {
  text-transform: none !important;
});

.mix-adaptive(uppercase, {
  text-transform: uppercase !important;
});