.mix-adaptive(nav-mobile, {
  &.nav {
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    height: 100vh;
    .navbar-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 260px;
      height: 100%;
      padding: 60px 10px 10px;
      overflow-y: auto;
      > a {
        margin-right: 0;
        padding: 14px 0;
        height: auto;
        line-height: 1;
        &.active {
          background-position-y: 30px;
        }
      }
    }
  }
});

.mix-mq(@tablet-wide, {
  .menu-slide {
    .mobile-menu {
        + .nav {
          .search {
            width: 100%;
            height: 45px;
            margin-bottom: 20px;
            border: none;
            input {
              line-height: 45px;
              border: 1px solid @border-color;
            }
          }
        }
        + .nav:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 260px;
          height: 60px;
          z-index: 1;
        }
        + .nav,
        + .nav:before {
          width: 0;
          background: rgb(242,242,242); // Old browsers
          background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); // FF3.6-15
          background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); // Chrome10-25,Safari5.1-6
          background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=1 ); // IE6-9
          transition: all .5s ease;
          overflow: hidden !important;
        }
        &.js_is-open {
          + .nav,
          + .nav:before {
            width: 260px;
          }
        }
    }
  }
});
