mixin image(source)
  img(src=(`assets/images/${source}`))&attributes(attributes)

mixin svg(icon, w, h)
  svg(width=w, height=h)&attributes(attributes)
    use(xlink:href="images/sprite.svg#"+icon)

mixin button(link, value)
  a(href=link)&attributes(attributes)= value

mixin breadcrumbs(items, last)
  .breadcrumbs
    .content__container
      span
        a(href="#") Home
        | /
      each item in items
        span
          a(href="#")= item
          | /
      if last
        span= last