@images: "../images/";

@color-main: #56a0de;

@black: #1c1c1c;
@white: #fff;
@color-main: #56a0de;
@color-main-darken: #215378;
@color-secondary: #ec5959;
@color-text-main: @black;
@color-text-title: #1f5278;
@color-text-subtitle: #1f5278;
@path: #4C5966;
@info: #3E3E3E;
@menu: #0F3C5D;

@link: @color-main;
@link-hover: #5DB3FA;
@link-red: #EC5959;
@link-red-hover: #FF6C6C;

@border-red: #F7BBBB;
@border-color: #d9d9d9;

@ref: #6C77B8;
@placeholder: #8A8A8A;

@bkg: @white;
@bkg-bar: #DDE1E6;
@bkg-section: #F1F3F5;
@bkg-section2: #E2E6EA;
@bkg-properties: #EFEFEF;
@bkg-dark: #143650;
@bkg-transfer: #184A75;
@bkg-footer: #eee;
@bkg-copy: #DBDBDB;

@color-checkbox: #46c014;
@color-checkbox-selected: #56a0de;
@color-checkbox-removed: @color-secondary;

@text-footer: #707070;

@blue-t: rgba(15, 60, 93, 0.5);
@red-t: rgba(236, 89, 89, 0.85);
@pos: #009900;
@neg: #EB5959;

@price: #D50000;
@price-light: #EE7B7B;

@sidebar-width: 307px;
@sidebar-indent: 41px;
@container-indent: 17px;

// Button
// main
@color-main-button:         @black;
@color-main-button-hover:   lighten(@color-main-button, 8);
@color-main-button-active:  lighten(@color-main-button, 14);

// secondary (success)
@color-secondary-button:          @color-secondary;
@color-secondary-button-hover:    darken(@color-secondary-button, 8);
@color-secondary-button-active:   darken(@color-secondary-button, 14);
// danger
//@colorDangerButton:         @p_chestnut-rose;
//@colorDangerButtonHover:    @p_chestnut-rose-darken;
//@colorDangerButtonActive:   @p_chestnut-rose-darkenx2;
// warning
//@colorWarningButton:        @p_tulip-tree;
//@colorWarningButtonHover:   @p_tulip-tree-darken;
//@colorWarningButtonActive:  @p_tulip-tree-darkenx2;
// default
//@colorDefaultButton:        #d9dce1;
//@colorDefaultButtonHover:   #b4b8bf;
//@colorDefaultButtonActive:  #8e9298;
// ghost
@color-ghost-button:                transparent;
@color-ghost-button-border:         @border-color;
@color-ghost-button-border-hover:   @color-main-button-hover;
@color-ghost-button-border-active:  @color-main-button-active;
.border-ghost-button(@border-color: @color-ghost-button-border) {
  border: 1px solid @border-color;
}
// info
//@colorInfoButton:       @p_snuff;
//@colorInfoButtonHover:  @p_snuff-darken;
//@colorInfoButtonActive: @p_snuff-darkenx2;

@button-height: 82px;
@button-line-height: 82px;

@button-border-radius: 56px;

/**
 * FONTS
 */
@font-size-base:  30;
@font-color-main: @black;

@z-index-order: 'contact', 'lightbox', 'hotel-menu', 'hotel-header', 'main-nav', 'close-nav-icon', 'modal-pall', 'modal';

/**
 * BREAKPOINTS
 */
@xxs-min: 400px;
@xs-min:  600px;
@sm-min:  768px;
@md-min:  1024px;
@lg-min:  1139px;
@xl-min:  1536px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);
@lg-max: (@xl-min - 1);

// screens
@stop: @xxs-min;
@phone: @xs-min;
@tablet: @sm-min;
@tablet-wide: @md-min;
@ntb: @lg-min;
@desktop: @xl-min;

@screens: xs @stop, sm @phone, md @tablet, lg @tablet-wide, xl @ntb, xxl @desktop;

@max-width: 1314px;

.transition(@time: .4s) {
  transition: all @time ease;
}