.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 80px;
  span {
    font-size: 22px;
    .font-medium;
    &:first-of-type a {
      padding-left: 0;
    }
    &:last-of-type {
      padding-left: 10px;
      a {
        padding-right: 0;
      }
    }
  }
  a {
    text-decoration: underline;
    text-transform: uppercase;
    color: @black;
    padding: 0 10px;
  }
  .mix-mq(@desktop, {
    margin-top: 35px;
    margin-bottom: 35px;
    span {
      font-size: 16px;
    }
  });
}