.btn {
  display: table;
  max-width: 321px;
  width: 100%;
  height: @button-height;
  background: @color-main;
  .mix-fz(30);
  line-height: @button-height + 4;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  .font-regular;
  color: @white;
  padding: 0 25px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  .transition;
  &:focus, &:active, &:active:hover, &:active:focus, &:focus:hover {
    box-shadow: none;
    outline: none;
    text-decoration: none;
    color: @white;
  }
  &:hover {
    background: #dde4f2;
    color: @white;
    text-decoration: none;
  }
  &:focus {
    outline: none;
    color: @white;
  }
  &-close {
    width: 12px;
    height: 12px
  }
  &-group {
    display: inline-flex;
    align-items: center;
    .btn {
      max-width: 217px;
      height: 100%;
      flex-shrink: 0;
    }
  }
  .mix-mq(@desktop, {
    max-width: 290px;
    height: 65px;
    line-height: 65px;
  });
}

.btn {
  &-primary {
    background: @color-main-button;
    border: none;
    &:hover {
      background: @color-main-button-hover;
    }
    &:focus, &:active, &:active:hover, &:active:focus {
      background: @color-main-button-active;
      outline: none;
    }
  }
  &-secondary,
  &-success {
    background: @color-secondary-button;
    &:hover {
      background: @color-secondary-button-hover;
    }
    &:focus, &:active, &:active:hover, &:active:focus {
      background: @color-secondary-button-active;
    }
  }
  //&-danger {
  //  background: @colorDangerButton;
  //  &:hover {
  //    background: @colorDangerButtonHover;
  //  }
  //  &:focus, &:active, &:active:hover, &:active:focus {
  //    background: @colorDangerButtonActive;
  //  }
  //}
  //&-warning, &-like-warning {
  //    background: @colorWarningButton;
  //  &:hover {
  //    background: @colorWarningButtonHover;
  //  }
  //  &:focus, &:active, &:active:hover, &:active:focus {
  //    background: @colorWarningButtonActive;
  //  }
  //}
  //&-default,
  //&[disabled] {
  //  background: @colorDefaultButton;
  //  color: #000;
  //  &:hover {
  //    background: @colorDefaultButtonHover;
  //    color: #000;
  //  }
  //  &:focus, &:active, &:active:hover, &:active:focus {
  //    background: @colorDefaultButtonActive;
  //    color: @white;
  //  }
  //}
  &-ghost,
  &-primary-ghost,
  &-secondary-ghost {
    background: @color-ghost-button;
    color: @color-main-button;
    text-decoration: none;
    .border-ghost-button(@color-main);
    &:hover {
      background: @color-main-button-hover;
      .border-ghost-button(@color-main-button-hover);
      color: #fff;
    }
    &:focus, &:active, &:active:hover, &:active:focus {
      background: @color-ghost-button;
      .border-ghost-button(@color-main-button-active);
      color: @color-main;
    }
  }
  &-secondary-ghost {
    color: @color-secondary-button;
    .border-ghost-button(@color-secondary-button);
    &:hover {
      background: @color-secondary-button-hover;
      .border-ghost-button(@color-secondary-button-hover);
      color: #fff;
    }
    &:focus, &:active, &:active:hover, &:active:focus {
      background: @color-secondary-button-active;
      .border-ghost-button(@color-secondary-button-active);
      color: #fff;
    }
  }
  &-ghost {
    color: @color-main-button;
    .border-ghost-button;
    &:hover {
      background: @color-main-button-hover;
      .border-ghost-button(@color-main-button-hover);
      color: #fff;
    }
    &:focus, &:active, &:active:hover, &:active:focus {
      background: @color-main-button-active;
      .border-ghost-button(@color-main-button-active);
      color: #fff;
    }
    &.active {
      color: @white;
      .border-ghost-button(@color-main-darken);
      background: @color-main-darken;
      &:hover {
        border-color: @color-main-darken;
        background: @color-main-darken;
      }
    }
  }
  //&-info {
  //    background: @colorInfoButton;
  //    &:hover {
  //      background: @colorInfoButtonHover;
  //    }
  //    &:focus, &:active, &:active:hover, &:active:focus {
  //      background: @colorInfoButtonActive;
  //    }
  //  }
  &-all, &-all_inverse,
  &-more, &-more_inverse,
  &-add, &-add_inverse {
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 18px;
      .transition;
    }
    &:focus, &:active, &:active:hover, &:active:focus, &:focus:hover {
      &:after {
        border-color: @color-main;
      }
    }
    &:hover {
      &:after {
        border-color: @white;
      }
    }
  }

  &-all,
  &-more {
    &_inverse {
      &:after {
        border-left: 1px solid @white;
        border-bottom: 1px solid @white;
      }
      &:focus, &:active, &:active:hover, &:active:focus, &:focus:hover {
        &:after {
          border-color: @color-main;
        }
      }
      &:hover {
        &:after {
          border-color: @white;
        }
      }
    }
  }

  @arrowSize: 15px;

  &-all, &-all_inverse,
  &-more, &-more_inverse {
    &:after {
      width: @arrowSize;
      height: @arrowSize;
      margin-top: -@arrowSize / 1.5;
      border-left: 1px solid @color-main;
      border-bottom: 1px solid @color-main;
      transform: rotate(-45deg);
    }
  }

  &-all, &-all_inverse {
    &:after {
      right: 20px;
      transform: rotate(-135deg);
      margin-top: -@arrowSize / 2;
    }
  }

  &-add, &-add_inverse {
    @plusHeight: 13px;

    &:before, &:after {
      width: 4px;
      height: @plusHeight;
      top: 50%;
      margin-top: -@plusHeight / 2;
      right: 20px;
      background: @color-main;
    }
    &:before {
      content: '';
      position: absolute;
      transform: rotate(90deg);
    }
  }

  &-add_inverse {
    &:before, &:after {
      background: @white;
    }
    &:focus, &:active, &:active:hover, &:active:focus, &:focus:hover {
      &:before, &:after {
        background: @color-main;
      }
    }
    &:hover {
      &:before, &:after {
        background: @white;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 30px 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}