.cd-cart-container {
  padding-left: 0 !important;
  .customer-menu__item {
    .font-light;
    &:hover, &:active, &:focus {
      color: @white;
    }
  }
  &.cart-open {
    .cd-cart {
      opacity: 1;
      visibility: visible;
    }
  }
  .count {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  .cd-cart {
    position: fixed;
    max-width: 904px;
    width: 100%;
    max-height: 847px;
    top: 70px;
    left: 50%;
    padding: 72px;
    margin-left: ~'calc(-904px / 2)';
    background: @white;
    border-left: 7px solid @black;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    header {
      border-bottom: 2px solid @black;
      padding-bottom: 25px;
      margin-bottom: 25px;
      h2 {
        position: relative;
        display: inline-block;
        color: @black;
        font-size: 42px;
        .font-medium;
        letter-spacing: 7px;
        margin: 0;
        .count {
          right: -90px;
          .second {
            visibility: hidden;
          }
        }
      }
      .mix-mq(@desktop, {
        h2 {
          font-size: 35px;
        }
      });
    }
  }
  .undo {
    position: relative;
    opacity: 0;
    visibility: hidden;
    border-bottom: 1px solid #d7d7d7;
    display: block;
    color: @black;
    text-transform: none;
    font-size: 24px;
    height: 0;
    margin-bottom: 30px;
    overflow: hidden;
    .font-thin;
    a {
      float: right;
      color: @black;
      text-decoration: underline;
      .font-regular;
    }
    &.visible {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
  .product {
    display: flex;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 40px;
    h3 {
      font-size: 20px;
      .font-medium;
      margin: 0;
      a {
        color: @black;
      }
    }
  }
  .body {
    max-height: 240px;
    overflow: auto;
    padding-right: 20px;
    ul {
      position: relative;
    }
  }
  .product-details {
    flex-grow: 1;
    line-height: 1;
    h3 {
      line-height: 1;
    }
    .actions {
      display: flex;
      justify-content: space-between;
    }
    .details-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .price {
        color: @black;
        line-height: 1;
        .font-medium;
        font-size: 30px;
      }
    }
  }
  .checkout {
    display: block;
    text-align: right;
    text-transform: none;
    .font-medium;
    font-size: 30px;
    color: @black;
    margin-bottom: 40px;
  }
  .product-image {
    width: 160px;
    margin-right: 35px;
  }
  .delete-item {
    display: inline-block;
    width: 21px;
    height: 25px;
    background: url('@{images}/trash-icon.png') center no-repeat;
    .transition;
    margin-top: -12px;
    &:hover {
      opacity: .6;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    .btn {
      .font-light;
      margin: 0;
      &-ghost {
        border-color: @black;
      }
    }
  }
  .size,
  .quantity {
    font-size: 20px;
    color: @black;
    text-transform: none;
    strong {
      .font-medium;
      margin-left: 10px;
    }
  }
  .size {
    display: block;
    margin-bottom: 22px;
  }
  .quantity {
    display: flex;
    align-items: center;
    span:first-of-type {
      display: inline-block;
      margin-right: 25px;
      line-height: 1;
    }
  }
  .mix-mq(@desktop, {
    .cd-cart {
      padding-top: 30px;
      padding-bottom: 30px;
      max-height: 560px;
      top: 60px;
      .body {
        max-height: 260px;
        overflow: auto;
      }
      .checkout {
        margin-bottom: 20px;
      }
      header {
        margin-bottom: 15px;
        padding-bottom: 25px;
        line-height: 1;
      }
      .product-image {
        width: 120px;
      }
      .product {
        padding-top: 10px;
      }
    }
  });
}

.cd-cart-trigger .count li:last-of-type {
  visibility: hidden;
}

.cd-cart .body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  animation: cd-item-slide-out .3s forwards;
  z-index: -1;
}

.cd-cart .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  -webkit-animation: cd-item-slide-in .3s forwards;
  animation: cd-item-slide-in .3s forwards;
}
.cd-cart .body li.deleted + li {
  -webkit-animation: cd-item-move-up-mobile .3s;
  animation: cd-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cd-cart .body li.undo-deleted + li {
  -webkit-animation: cd-item-move-down-mobile .3s;
  animation: cd-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cd-cart-trigger {
  display: flex;
  font-size: 42px;
  .font-medium;
  text-transform: uppercase;
  color: @black;
}

.cd-cart .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  -webkit-animation: cd-item-slide-in .3s forwards;
  animation: cd-item-slide-in .3s forwards;
}
.cd-cart .body li.deleted + li {
  -webkit-animation: cd-item-move-up-mobile .3s;
  animation: cd-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cd-cart .body li.undo-deleted + li {
  -webkit-animation: cd-item-move-down-mobile .3s;
  animation: cd-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}