.control {
  position: absolute;
  width: 20px;
  height: 20px;
  background: @white;
  .rounded(50%);
  border: 1px solid #b0b0b0;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    background: @black;
    .rounded(50%);
  }
}

.control {
  &.active {
    .info-loader {
      opacity: 1;
      visibility: visible;
    }
  }
}

.info-loader {
  visibility: hidden;
  opacity: 0;
  .transition;
  position: absolute;
  width: 310px;
  height: 422px;
  left: -130px;
  bottom: 40px;
  border: 1px solid #b0b0b0;
  background: @white;
  border-top: 7px solid @black;
  padding: 15px;
  .product-header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .product-image {
    width: 45%;
    flex-shrink: 0;
  }
  .product-name {
    display: block;
    width: 100%;
    margin-top: 15px;
    .mix-fz(17px)
  }
  .product-info {
    .mix-fz(16);
  }
  .btn {
    max-width: 70%;
    height: 40px;
    font-size: 17px;
    line-height: 40px;
  }
}

.color-option {
  display: inline-flex;
  margin-left: 30px;
  .color {
    width: 48px;
    height: 22px;
    &.active {
      box-shadow: inset 0 0 0 3px @black;
    }
    &-green {
      background: #557230;
    }
    &-red {
      background: #5e191d;
    }
    &-brown {
      background: #8c6d4c;
    }
  }
}
.table {
  margin-bottom: 30px;
}