.quantity {
  .control-decr,
  .control-incr {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 30px;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 14px;
      height: 1px;
      background: @black;
      top: 50%;
    }
    .control-decr {
      &:after {
        display: none;
      }
    }
  }
  .control-incr {
    &:after {
      width: 1px;
      height: 13px;
      left: 50%;
      top: 9px;
    }
  }
  &-value {
    .font-medium;
    font-size: 24px;
    text-align: center;
    width: 56px;
  }
}