.icon {
  display: inline-block;
  .transition;
}

.mastercard-icon {
  background: url('@{images}mastercard-logo.png') no-repeat;
  width: 53px;
  height: 41px;
  &:hover {
    background-image: url('@{images}mastercard-logo-hover.png');
  }
}

.visa-icon {
  background: url('@{images}visa-logo.png') no-repeat;
  width: 85px;
  height: 28px;
  &:hover {
    background-image: url('@{images}visa-logo-hover.png');
  }
}

.fb-icon {
  background: url('@{images}social/fb.png') no-repeat;
  width: 15px;
  height: 33px;
  &:hover {
    background-image: url('@{images}social/fb-hover.png');
  }
}

.tw-icon {
  background: url('@{images}social/tw.png') no-repeat;
  width: 41px;
  height: 33px;
  &:hover {
    background-image: url('@{images}social/tw-hover.png');
  }
}

.tg-icon {
  background: url('@{images}social/tg.png') no-repeat;
  width: 38px;
  height: 33px;
  &:hover {
    background-image: url('@{images}social/tg-hover.png');
  }
}

.gp-icon {
  background: url('@{images}social/gp.png') no-repeat;
  width: 43px;
  height: 33px;
  &:hover {
    background-image: url('@{images}social/gp-hover.png');
  }
}

.pt-icon {
  background: url('@{images}social/pt.png') no-repeat;
  width: 26px;
  height: 33px;
  &:hover {
    background-image: url('@{images}social/pt-hover.png');
  }
}