.online-consultation {
  position: fixed;
  top: 120px;
  right: 0;
  color: #fff;
  text-transform: uppercase;
  .font-medium;
  line-height: 54px;
  text-align: center;
  height: 494px;
  width: 48px;
  z-index: 10;
  span {
    position: absolute;
    right: -223px;
    display: block;
    width: 494px;
    height: 48px;
    top: 223px;
    font-size: 24px;
    letter-spacing: 3px;
    transform: rotate(-90deg);
  }
  .mix-mq(@desktop, {
    height: 412px;
    width: 40px;
    svg {
      width: 40px;
    }
    span {
      right: -182px;
      width: 413px;
      height: 40px;
      top: 186px;
      font-size: 17px;
    }
  });
  .mix-mq(@phone, {
    display: none;
  })
}