.pagination {
  @itemHeight: 50px;

  display: flex;
  align-items: center;
  max-width: 703px;
  margin: 50px auto 120px;
  .pagination-item {
    display: inline-block;
    width: 43px;
    height: @itemHeight;
    background: @black;
    color: @white;
    .mix-fz(20);
    line-height: @itemHeight;
    border: 1px solid @black;
    text-align: center;
    margin-left: -1px;
    &:first-of-type {
      margin-left: 0;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0;
      background: @white;
      color: black;
      border: none;
      line-height: @itemHeight;
      &:hover {
        text-decoration: none;
        background: lighten(@black, 15);
        color: @white;
      }
    }
  }
  .arrow-prev,
  .arrow-next {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    background: @white;
    color: @black;
    line-height: @itemHeight - 2px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      bottom: -13px;
      display: block;
      width: 14px;
      height: 20px;
      transform: rotate(45deg);
      background: @white;
      z-index: 2;
    }
  }
  .arrow-prev {
    &:before {
      left: -10px;
      border-top: 1px solid @black;
    }
  }
  .arrow-next {
    &:before {
      right: -10px;
      transform: rotate(-45deg);
      border-top: 1px solid @black;
    }
  }
}