.product-item {
  width: 242px;
  font-size: 20px;
  .product {
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 282px;
      overflow: hidden;
    }
    &-price {
      display: inline-block;
      .font-medium;
      border-top: 1px solid @black;
      padding-top: 8px;
      padding-right: 10px;
      margin-bottom: 15px;
      .special-price {
        display: inline-block;
        color: #df2828;
        margin-right: 15px;
      }
      .old-price {
        .font-light;
        text-decoration: line-through;
      }
    }
    &-name {
      display: block;
      margin-bottom: 10px;
    }
    &-category {
      color: #808080;
    }
  }
}

.related-items {
  margin-bottom: 160px;
}

.related-items-slider {
  position: relative;
  padding: 0 77px;
  overflow: hidden;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -18px;
    left: -18px;
    display: block;
    width: 40px;
    height: 20px;
    transform: rotate(-45deg);
    background: @white;
    z-index: 2;
  }
  &:after {
    left: unset;
    right: -18px;
    transform: rotate(45deg);
  }
  .slick-slide {
    margin: 0 24px;
  }
  .slick-arrow {
    width: 57px;
    height: 398px;
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: -22px;
      display: block;
      width: 40px;
      height: 20px;
      transform: rotate(45deg);
      background: @white;
      z-index: 2;
    }
  }
  .slick-prev {
     left: 0;
   }
  .slick-next {
    right: 0;
    left: unset;
    &:before {
      transform: rotate(-135deg);
    }
    &:after {
      bottom: -7px;
      left: unset;
      right: -22px;
      transform: rotate(-45deg);
    }
  }
}