.slider-pagination {
  display: flex;
  align-items: center;
  .page-info {
    display: block;
    margin: 0 20px;
  }
  .left-btn,
  .right-btn {
    position: relative;
    width: 15px;
    height: 24px;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      top: 4px;
      left: 4px;
      width: 15px;
      height: 15px;
      border-left: 1px solid @black;
      border-bottom: 1px solid @black;
      transform: rotate(45deg);
    }
  }
  .right-btn {
    &:after {
      left: -6px;
      transform: rotate(-135deg);
    }
  }
}