.tab-panes .tab-pane{
  display: none
}
.tab-panes .active{
  display: block
}

.tabs {
  padding-bottom: 21px;
  border-bottom: 1px solid #808080;
  margin-bottom: 50px;
  .tab {
    .mix-fz(24);
    color: #808080;
    text-transform: uppercase;
    margin-right: 50px;
    .font-regular;
    padding: 22px 5px;
    cursor: pointer;
    &.active {
      color: @black;
      border-bottom: 3px solid @black;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      color: @black;
      text-decoration: none;
    }
  }
}
.tab-panes {
  font-size: 20px;
  line-height: 36px;
}