footer.footer
  .content__container
    .tw-row
      .logo-section
        .logo
          +image('logo-inverse.png')
        span &copy; Techwear. All #[<br>] rights #[<br>] reserved.
      .help-menu
        span.header-text Help
        a(href="#" class="list-item") How to order
        a(href="#" class="list-item") Terms of delivery
        a(href="#" class="list-item") Returns
        a(href="#" class="list-item") Offer
        a(href="#" class="list-item") Loyalty program
      .social
        span.header-text We're in social networks
        .social
          a(href="#" class="icon fb-icon")
          a(href="#" class="icon tw-icon")
          a(href="#" class="icon tg-icon")
          a(href="#" class="icon gp-icon")
          a(href="#" class="icon pt-icon")
      .payment-methods
        span.header-text Payment methods
        .payments-list
          span.icon.mastercard-icon
          span.icon.visa-icon
        .note.
          You can pay by cash, or choose a #[a.font-underline(href="#") different payment method].
      .our-partners
        span.header-text Our partners
        a.list-item(href="#") Amazon
        a.list-item(href="#") Ebay
        a.list-item(href="#") Nova poshta
        a.list-item(href="#") City Express
        a.list-item(href="#") Pepsi
    .tw-row.hide
      .copyright
        span &copy; Techwear. All rights reserved.