head
  meta(charset="UTF-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="description", content="")
  meta(name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Techwear
  link(rel="stylesheet" href="assets/css/bundle.css")