header.header
  .header__container.content__container
    .mobile-menu
      span
      span
      span
      span
    nav.main-nav
      a(href="catalog.html").main-nav__item Man
      a(href="catalog.html").main-nav__item Women
      a(href="catalog.html").main-nav__item Accessories
    a(href="/").header__logo
      +image('logo.png')
    nav.customer-menu
      a(href="about-us.html").customer-menu__item About us
      a(href="#").customer-menu__item #[span.login-icon] Log in
      .cd-cart-container.empty
        a(href="#0" class="cd-cart-trigger").customer-menu__item #[span.cart-icon] Cart
          ul.count
            li.first (#[span 0])
            li.second (#[span 0])
        .cd-cart
          .wrapper
            header
              h2 Items in your cart
                ul.count
                  li.first (#[span 0])
                  li.second (#[span 0])
            .body
              ul
                span.undo Item is deleted. #[a(href="#0") Restore item]
            footer
              span.checkout Total: $
                span 0
              .buttons
                a(href="#" class="btn btn-ghost") Back to store
                a(href="#" class="btn btn-primary") To order

      #search.search-wrap
        input(type="text" class="search")
