include ../mixins/mixins.pug
doctype html
html(lang="en")
  include ../templates/head.pug
  block state
  body
    .wrapper
      include ../templates/header
      block content
      include ../templates/footer
    .online-consultation
      svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 47.6 489.9" style="enable-background:new 0 0 47.6 489.9;" xml:space="preserve")
        polyline(fill="#1c1c1c" points="47.7,489.9 14.7,489.9 -0.1,475.1 -0.3,13.9 13.7,-0.1 47.7,-0.1 ")
      span Online consultation

    script(src="assets/js/bundle.js")