section.related-items
  span.section-heading
    span.heading-content Related items
  .related-items-slider
    .product-item
      .product-image
        +image('related-items/1.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/2.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/3.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/4.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/5.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/1.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/2.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/3.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/4.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/5.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/1.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket
    .product-item
      .product-image
        +image('related-items/2.png')
      span.product-price $150
      span.product-name North Face Rubber
      span.product-category Jacket