aside.sidebar
  .sidebar-option.size-option
    span.heading Size:
    .table
      .tr
        .td.item-select XS (46)
        .td.item-select.active S (48)
        .td.item-select M (50)
        .td.item-select L (52)
      .tr
        .td.item-select XL (54)
        .td.item-select 2XL (56)
        .td.item-select 3XL (58)
        .td.item-select 4XL (60)
  .sidebar-option.color-option
    span.heading Color:
    .color-table
      span.color-blue.item-select
      span.color-brown.item-select
      span.color-red.active.item-select
      span.color-grey.item-select
      span.color-dark-brown.item-select
      span.color-yellow.item-select
      span.color-green.item-select
      span.color-all.item-select other
  .sidebar-option.price-option
    span.heading Price:
    #keypress
      .price-slider-wrap
        #price-slider
    .fields-wrap
      .field-wrap
        input#input-with-keypress-0.field(type="text")
      .field-wrap
        input#input-with-keypress-1.field(type="text")

  .sidebar-option.brand-option
    span.heading Brand:
    .table.table-brand
      .tr
        .td.item-select Stone Island
        .td.item-select Acronym
      .tr
        .td.active.item-select Y-3
        .td.item-select Berghaus
      .tr
        .td.item-select North Face
        .td.active.item-select Nike ACG
      .tr
        .td.item-select MA Strum
        .td.item-select CP Company
      .tr
        .td.item-select Barbour
        .td.item-select Supreme