.footer {
  background: @black;
  padding: 80px 0;
  color: @white;
  .mix-fz(20);
  .tw-row {
    display: flex;
  }
  .list-item {
    display: block;
    color: @white;
    margin-bottom: 20px;
  }
  .note {
    .font-underline {
      color: @white;
    }
  }
  .logo-section {
    .mix-fz(14);
    max-width: 110px;
    margin-right: 90px;
    .logo {
      margin-top: -15px;
      margin-bottom: 45px;
    }
  }
  .help-menu {
    max-width: 210px;
    width: 100%;
    margin-right: 90px;
    .header-text {
      padding-bottom: 20px;
    }
  }
  .our-partners {
    .header-text {
      padding-bottom: 20px;
    }
  }
  .social {
    max-width: 390px;
    width: 100%;
    margin-right: 90px;
  }
  .payment-methods {
    max-width: 290px;
    width: 100%;
    margin-right: 90px;
  }
  .payments-list {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }
  .mastercard-icon {
    margin-right: 25px;
  }
  .header-text {
    display: block;
    .font-medium;
    .mix-fz(28);
    margin-bottom: 30px;
  }
  .mix-mq(1600px, {
    font-size: 16px;
     .logo-section {
       display: none;
     }
    .header-text {
      font-size: 24px;
    }
    .tw-row {
      justify-content: space-between;
    }
    .help-menu,
    .social,
    .payment-methods {
      margin-right: 0;
    }
    .tw-row {
      display: flex !important;
      .copyright {
        margin-top: 20px;
      }
    }
  })
}