.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: rgba(28, 28, 28, .9);
  @headerHeight: 84px;
  top: 0;
  left: 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: @headerHeight;
    .mix-mq(@desktop, {
      height: 74px;
    });
  }
  .main-nav,
  .customer-menu {
    height: 100%;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  .main-nav__item,
  .customer-menu__item,
  .cd-cart-container {
    position: relative;
    display: inline-block;
    height: 100%;
    text-transform: uppercase;
    .mix-fz(18);
    line-height: @headerHeight;
    color: @white;
    padding: 0 30px;
    &:focus, &:active {
      color: @white;
    }
    &:hover {
      text-decoration: none;
      background: rgba(39, 39, 40, .6);
    }
    .mix-mq(@desktop, {
      font-size: 16px;
      line-height: 74px;
    });
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
  width: 30px;
  height: 25px;
  margin: 40px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
@include mq('tablet') {
  display: block;
}
}

.mobile-menu span:nth-child(1) {
  top: 0;
}

.mobile-menu span:nth-child(2),
.mobile-menu span:nth-child(3) {
  top: 10px;
}

.mobile-menu span:nth-child(4) {
  top: 20px;
}

.mobile-menu.is-open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.mobile-menu.is-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu.is-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu.is-open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.login-icon,
.cart-icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url('@{images}/login-icon.png') center no-repeat;
}

.cart-icon {
  background: url('@{images}/cart-icon.png') center no-repeat;
}

.customer-menu {
  display: flex;
  align-items: center;
}

.search-wrap {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 44px;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 20px;
  .search {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    margin-right: 30px;
    .transition;
  }
  &.active {
    .search {
      width: 230px;
    }
  }
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 0;
    width: 19px;
    height: 19px;
    background: url('@{images}/search-icon.png') center no-repeat;
  }
}