.sidebar {
  width: 292px;
  float: left;
  margin-right: 120px;
  &-option {
    margin-bottom: 70px;
    .heading {
      display: block;
      font-size: 28px;
      margin-bottom: 15px;
    }
  }
  .size-option,
  .brand-option {
    .td {
      width: 74px;
      height: 50px;
      font-size: 16px;
      padding: 0 10px;
      text-align: center;
      .font-regular;
      cursor: pointer;
      &.active {
        background: @black;
        color: @white;
      }
    }
  }
  .brand-option {
    .td {
      display: flex;
      justify-content: center;
      width: 147px;
    }
  }
  .fields-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .field {
    height: 20px;
    font-size: 14px;
    padding: 0 5px;
    text-align: center;
    &-wrap {
      border-bottom: 1px solid @black;
      max-width: 124px;
      float: left;
      margin-bottom: 20px;
      &:before,
      &:after {
        width: 11px;
        height: 1px;
        bottom: 3px;
      }
      &:before {
        left: -9px;
      }
      &:after {
        right: -9px;
      }
    }
  }
  .color-option {
    display: block;
    margin-left: 0;
  }
  .color-table {
    display: flex;
    flex-wrap: wrap;
    span {
      display: inline-block;
      width: 74px;
      height: 50px;
      border: 1px solid @black;
      margin-left: -1px;
      margin-top: -1px;
      cursor: pointer;
      &:nth-of-type(4),
      &:nth-of-type(1) {
        margin-right: 0;
      }
      &:nth-of-type(-n + 4) {
        margin-top: 0;
      }
      &.active {
        box-shadow: inset 0 0 0 4px @black;
        border: 1px solid @black;
        position: relative;
      }
    }
    .color {
      &-blue {
        background: #4d59a1;
      }
      &-red {
        background: #d24a43;
      }
      &-grey {
        background: #949494;
      }
      &-dark-brown {
        background: #7c2d1c;
      }
      &-yellow {
        background: #fff798;
      }
      &-all {
        text-align: center;
        font-size: 16px;
        line-height: 50px;
      }
    }
  }
}