/// Helper mixin to fast add media queries in a class
/// @param {Size} @maxWidth - size of screen
/// @param @from - max-width or min-width
/// @output @rules
/// @example
///   .col {
///     .mix-mq(@tablet-wide, {
////      width: 50%;
////    })
///   }
.mix-mq(@maxWidth; @rules; @from: max) {
  @value: ~"@{from}-width: @{maxWidth}";
  @media only screen and (@value) {
    @rules();
  }
}

/// Helper mixin to calculate rem to px
/// @param @property
/// @param @sizeValue - int
/// @require $font-size-base
/// @output @property
.mix-rem(@property; @sizeValue) {
  @pxValue: unit(@sizeValue);
  @remValue: (unit(@sizeValue) / @font-size-base);
    @{property}: ~"@{remValue}rem";
}

/// Helper mixin to order of z-index
/// @param @elementName - name of element in @z-index-order
/// @require @z-index-order
/// @output 'z-index'
.mix-z(@elementName) {
  .loop(@elementName, @counter) when (@counter > 0) {
    .loop(@elementName, @counter - 1);
    .pickIndex(@elementName, @counter);
  }
  .loop(@elementName, length(@z-index-order));
  .pickIndex(@elementName, @counter) when (extract(@z-index-order, @counter) = @elementName) {
    z-index: @counter;
  }
}

/// Helper mixin to generate class name with adaptive prefixes
/// @param @className - .col
/// @param @rules - props
/// @require $screens - list of screen resolutions
/// @example
///   .mix-adaptive(col, {
///     width: 50%;
//    });
.mix-adaptive(@className, @rules, @from: max) {
  .@{className} {
    @rules();
  }
  .iter(length(@screens));
    .iter(@i) when (@i > 0) {
      .iter(@i - 1);
      @pair: extract(@screens, @i);
      @alias: extract(@pair, 1);
      @value: extract(@pair, 2);
      .mix-mq(@value, {
        .@{className} {
          &-@{alias} {
            @rules();
          }
        }
      }, @from)
    }
}

.mix-font-face(@font-name, @file-name, @weight: normal, @style: normal) {
  @font-face {
    font-family: '@{font-name}';
    src: url('../fonts/@{file-name}.eot');
    src: url('../fonts/@{file-name}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/@{file-name}.woff') format('woff'),
    url('../fonts/@{file-name}.ttf') format('truetype'),
    url('../fonts/@{file-name}.svg##{$font-name}') format('svg');
    font-weight: @weight;
    font-style: @style;
  }
}

.mix-fz(@val) {
  .mix-rem(font-size, unit(@val));
}

.mix-lh(@val) {
  .mix-rem(line-height, unit(@val));
}

.silverGradient {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(230,230,230,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(48%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(230,230,230,1) 100%);
  background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(230,230,230,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(230,230,230,1) 100%);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=1 );
}

.whiteGradient {
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.blueGradient {
  background: rgba(20,54,80,0);
  background: -moz-linear-gradient(top, rgba(20,54,80,0) 0%, rgba(20,54,80,1) 26%, rgba(20,54,80,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,54,80,0)), color-stop(26%, rgba(20,54,80,1)), color-stop(100%, rgba(20,54,80,1)));
  background: -webkit-linear-gradient(top, rgba(20,54,80,0) 0%, rgba(20,54,80,1) 26%, rgba(20,54,80,1) 100%);
  background: -o-linear-gradient(top, rgba(20,54,80,0) 0%, rgba(20,54,80,1) 26%, rgba(20,54,80,1) 100%);
  background: -ms-linear-gradient(top, rgba(20,54,80,0) 0%, rgba(20,54,80,1) 26%, rgba(20,54,80,1) 100%);
  background: linear-gradient(to bottom, rgba(20,54,80,0) 0%, rgba(20,54,80,1) 26%, rgba(20,54,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143650', endColorstr='#143650', GradientType=0 );
}

strong, b {.font-bold; font-weight: normal;}

ul {list-style-type: none;}

a, a:focus {
  color: @link;
  text-decoration: none;
  outline: none !important;

  &:hover {
    color: @link;
    text-decoration: underline;
  }
}

input, select, textarea, button {
  background: @bkg;
  color: @color-text-main;
  border: none;
  .font-regular;
}

img {
  max-width: 100%;
}

.fLeft {float: left;}
.fRight {float: right;}
.cleaner {clear: both;}

.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}

.underline {
  text-decoration: underline;

  &:hover {text-decoration: none;}
}

.dividerWhite {
  .whiteGradient;
  .relative;
  height: 100px;
  bottom: 100px;
  clear: both;
}

.dividerBlue {
  .blueGradient;
  .relative;
  height: 200px;
  bottom: 70px;
  clear: both;
}

.transition {
  transition: 200ms;
  transition-timing-function: ease;
  @media @desktop {transition: none;}
}

.transition-slow {
  transition: 500ms;
  transition-timing-function: ease;
}

.w100 {width: 100%;}
.w95 {width: 95%;}
.w90 {width: 90%;}
.w50 {width: 50%;}
.w25 {width: 25%;}

.h100 {height: 100%;}

.rounded (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.halfRoundedLeft (@radius: 3px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.boxShadow {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.boxShadow2 {
  -webkit-box-shadow: -3px -4px 4px 0px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: -3px -4px 4px 0px rgba(0, 0, 0, 0.02);
  box-shadow: -3px -4px 4px 0px rgba(0, 0, 0, 0.02);
}

.noShadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.opacity {
  opacity: 0.7;
  filter: "alpha(opacity =70);"
}

.placeholder {
  .font-regular;
  .mix-fz(20);
  text-transform: none;
  letter-spacing: 3px;
  color: @black;
}

::-webkit-input-placeholder {.placeholder;}
:-moz-placeholder {.placeholder;}
::-moz-placeholder {.placeholder;}
:-ms-input-placeholder {.placeholder;}