* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  flex: 1 0 auto;
  .mix-mq(@tablet-wide, {
    margin-top: 60px;
  });
  .mix-mq(@tablet, {
    margin-top: 80px;
  });
}

.container {
  .max-width;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

a,
button {
  .transition;
}

body > .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 84px;
  .mix-mq(@desktop, {
    padding-top: 74px;
  });
}

.content {
  float: left;
  width: ~'calc(100% - @{sidebar-width} - @{sidebar-indent})';
  .mix-mq(@tablet-wide, {
    width: 100%;
    float: none;
  });
}

.text-wrap {
  max-width: 480px;
  margin: 0 auto;
  letter-spacing: 3px;
}

.table {
  .tr {
    display: flex;
    margin-top: -1px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .td {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px 14px;
    border: 1px solid @black;
    margin-left: -1px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}