@grid-name: tw; //Namespace your grid if necesarry.  Change corresponding var in HAML for preview.
@column-count: 12; // # of columns. Change corresponding var in HAML for preview.
@baseFontSize: 16;
@grid-width: 1650; // total grid width in pixels without units.  if liquid, used as max-width.
@column-margin: 20; // inter column margin in pixels without units
@grid-type: fluid; // fixed width (px), fluid(%), or elastic(em).
@push-pull: true; // if false, doesn't output push and pull classes
@prefix-suffix: false; // if false, doesn't output prefix and suffix classes

/////
// These forumulae calculate grid column width.  Not necesarry to change these or anything below.
@column-width-pixels: (@grid-width - (@column-margin * (@column-count - 1))) / @column-count;
@column-width-percentage: ((@grid-width - (@column-margin * (@column-count - 1))) / @column-count) / @grid-width * 100%;
@column-margin-percentage: @column-margin / @grid-width * 100%;
@column-width-relative: @column-width-pixels / @baseFontSize;
@column-margin-relative: @column-margin / @baseFontSize;

.content__container {
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
  & when (@grid-type = fixed) {
    width: ~`@{grid-width}+'px'`;
  }
  & when (@grid-type = fluid) {
    width: 100%;
    max-width: ~`@{grid-width} + 'px'`;
  }
  & when (@grid-type = elastic) {
    font-size: @baseFontSize;
  }
}

.@{grid-name}-row {
  width: 100%;
  &::before,
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  //@include mq('tablet') {
  //  flex-direction: column;
  //  text-align: center;
  //}
}

.@{grid-name}-column {
  position: relative;
  float: left;
  //@include mq('tablet') {
  //  width: 100% !important;
  //  left: 0 !important;
  //}
}

.@{grid-name}-column + .@{grid-name}-column {
  & when (@grid-type = fluid) {
    margin-left: @column-margin-percentage;
  }
  & when (@grid-type = fixed) {
    margin-left: ~`@{column-margin} + 'px'`;
  }
  & when (@grid-type = elastic) {
    margin-left: ~`@{column-margin-relative} + 'em'`;
  }
}

.@{grid-name}-column_1of@{column-count} {
  & when (@grid-type = fluid) {
    width: @column-width-percentage;
  }
  & when (@grid-type = fixed) {
    width: ~`@{column-width-pixels} + 'px'`;
  }
  & when (@grid-type = elastic) {
    width: ~`@{column-width-relative} + 'em'`;
  }
}

.mixin-loop (@i) when (@i - 1 > 0) {
  .mixin-loop(@i - 1);
  .mix-adaptive(~'@{grid-name}-column_@{i}of@{column-count}', {
    & when (@grid-type = fluid) {
      width: @column-width-percentage * @i + @column-margin-percentage * (@i - 1);
    }
    & when (@grid-type = fixed) {
      width: ~`(@{column-width-pixels} * @{i}) + (@{column-margin} * (@{i} - 1)) + 'px'`;
    }
    & when (@grid-type = elastic) {
      width: ~`@{column-width-relative} * @{i} + (@{column-margin-relative} * (@{i} - 1)) + 'em'`;
    }
  });
}

.mixin-loop(@column-count - 1);

.mix-adaptive(~'@{grid-name}-column_@{column-count}of@{column-count}', {
  & when (@grid-type = fluid) {
    width: 100%;
  }
  & when (@grid-type = fixed) {
    width: ~`@{grid-width}+'px'`;
  }
  & when (@grid-type = elastic) {
    width: ~`(@{grid-width} / @{baseFontSize}) + 'em'`;
  }
});

//Push and Pull classes

.mixin-push-loop (@i) when (@i > 0) {
  & when (@push-pull = true) {
    .mix-adaptive(~'@{grid-name}-column_push@{i}of@{column-count}', {
      & when (@grid-type = fluid) {
        left: @column-width-percentage * @i + @column-margin-percentage * @i;
      }
      & when (@grid-type = fixed) {
        left: ~`@{column-width-pixels} * @{i} + @{column-margin} * @{i} + 'px'`;
      }
      & when (@grid-type = elastic) {
        left: ~`@{column-width-relative} * @{i} + @{column-margin-relative} * @{i} + 'em'`;
      }
    });
  }
  .mixin-push-loop(@i - 1);
}

.mixin-push-loop(@column-count - 1);

.mixin-pull-loop (@i) when (@i > 0) {
  .@{grid-name}-column_pull@{i}of@{column-count} when (@push-pull = true) {
    & when (@grid-type = fluid) {
      left: -1 * @column-width-percentage * @i + @column-margin-percentage * @i;
    }
    & when (@grid-type = fixed) {
      left: ~`-1 * (@{column-width-pixels} * @{i} + @{column-margin} * @{i}) + 'px'`;
    }
    & when (@grid-type = elastic) {
      left: ~`-1 * (@{column-width-relative} * @{i} + @{column-margin-relative} * @{i}) + 'em'`;
    }
  }
  .mixin-pull-loop(@i - 1);
}

.mixin-pull-loop(@column-count - 1);

// Prefix and Suffix Classes
.mixin-prefix-loop (@i) when (@i > 0) {
  .@{grid-name}-column_prefix@{i}of@{column-count} when (@prefix-suffix = true) {
    & when (@grid-type = fluid) {
      margin-left: ~`@{column-width-percentage} * @{i} + @{column-margin-percentage} * @{i}`;
    }
    & when (@grid-type = fixed) {
      margin-left: ~`@{column-width-pixels} * @{i} + @{column-margin} * @{i} + 'px'`;
    }
    & when (@grid-type = elastic) {
      margin-left: ~`@{column-width-relative} * @{i} + @{column-margin-relative} * @{i} + 'em'`;
    }
  }
  .mixin-prefix-loop(@i - 1);
}

.mixin-prefix-loop(@column-count - 1);

.mixin-suffix-loop (@i) when (@i > 0) {
  .@{grid-name}-column_suffix@{i}of@{column-count} when (@prefix-suffix = true) {
    & when (@grid-type = fluid) {
      margin-left: ~`-1 * (@{column-width-percentage} * @{i} + @{column-margin-percentage} * @{i})`;
    }
    & when (@grid-type = fixed) {
      margin-left: ~`-1 * (@{column-width-pixels} * @{i} + @{column-margin} * @{i}) + 'px'`;
    }
    & when (@grid-type = elastic) {
      margin-left: ~`-1 * (@{column-width-relative} * @{i} + @{column-margin-relative} * @{i}) + 'em'`;
    }
  }
  .mixin-suffix-loop(@i - 1);
}

.mixin-suffix-loop(@column-count - 1);

.mix-adaptive(no-push, {
  left: 0 !important;
});

.mix-adaptive(no-pull, {
  left: 0 !important;
});