/**
 * Base
 */

.mix-font-face(6626, '6626/6626');
.mix-font-face(pfdintextpro-bold, 'pfdintextpro/pfdintextpro-bold');
.mix-font-face(pfdintextpro-boldital, 'pfdintextpro/pfdintextpro-boldital');
.mix-font-face(pfdintextpro-italic, 'pfdintextpro/pfdintextpro-italic');
.mix-font-face(pfdintextpro-light, 'pfdintextpro/pfdintextpro-light');
.mix-font-face(pfdintextpro-lightitalic, 'pfdintextpro/pfdintextpro-lightitalic');
.mix-font-face(pfdintextpro-meditalic, 'pfdintextpro/pfdintextpro-meditalic');
.mix-font-face(pfdintextpro-medium, 'pfdintextpro/pfdintextpro-medium');
.mix-font-face(pfdintextpro-regular, 'pfdintextpro/pfdintextpro-regular');
.mix-font-face(pfdintextpro-thin, 'pfdintextpro/pfdintextpro-thin');
.mix-font-face(pfdintextpro-thinitalic, 'pfdintextpro/pfdintextpro-thinitalic');
.mix-font-face(pfdintextpro-xblack, 'pfdintextpro/pfdintextpro-xblack');
.mix-font-face(pfdintextpro-xblackitalic, 'pfdintextpro/pfdintextpro-xblackitalic');

.font-thin {font-family: 'pfdintextpro-thin', Arial, sans-serif;}
.font-light {font-family: 'pfdintextpro-light', Arial, sans-serif;}
.font-regular {font-family: 'pfdintextpro-regular', Arial, sans-serif;}
.font-bold {font-family: 'pfdintextpro-bold', Arial, sans-serif;}
.font-medium {font-family: 'pfdintextpro-medium', Arial, sans-serif;}
.font-extrabold {font-family: 'pfdintextpro-xblack', Arial, sans-serif;}

.text-center {text-align: center};
.text-left {text-align: left;}
.text-right {text-align: right;}

html, body {
  font-size: ~"@{font-size-base}px";
  .font-light;
  color: @font-color-main;
  letter-spacing: 3px;
  .mix-mq(@desktop, {
    font-size: 20px;
  });
}

h1 {
  .mix-fz(40);
  text-transform: uppercase;
  margin: 0 0 20px 0;
  .font-extrabold;
}

.heading-h2,
.like-heading-h2 {
  display: block;
  .font-regular;
  .mix-fz(60);
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  .text-center;
}

.heading-h3,
.like-heading-h3 {
  display: block;
  .mix-fz(36);
  .font-regular;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom:30px;
}

.section-heading {
  position: relative;
  display: block;
  width: 100%;
  height: 7px;
  text-transform: uppercase;
  background: #000;
  margin-top: 80px;
  margin-bottom: 80px;
  .heading-content {
    position: absolute;
    display: inline-block;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
    .mix-fz(42);
    .font-medium;
    text-align: center;
    background: #fff;
    color: #000;
    padding: 0 5px;
    .mix-mq(@desktop, {
      top: -14px;
      padding: 0 20px;
    });
  }
}