@xxs-min: 400px;
@xs-min:  560px;
@sm-min:  768px;
@md-min:  1024px;
@lg-min:  1139px;
@xl-min:  1310px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);
@lg-max: (@xl-min - 1);

@stop:               ~"only screen and (max-width: @{xxs-min})";
@phone:              ~"only screen and (max-width: @{xs-min})";
@tablet:             ~"only screen and (max-width: @{sm-min})";
@tablet-strict:      ~"only screen and (max-width: @{sm-min}) and (min-width: @{xs-max})";
@tablet-wide:        ~"only screen and (max-width: @{md-min})";
@tablet-wide-strict: ~"only screen and (max-width: @{md-min}) and (min-width: @{sm-max})";
@ntb:                ~"only screen and (max-width: @{lg-min})";
@desktop:            ~"only screen and (max-width: @{xl-min})";

.max-width {
  width: 100%;
  max-width: 1314px;
  margin: 0 auto;
  padding-left: @container-indent;
  padding-right: @container-indent;
  .text-left;
}