.checkbox-container {
  input {
    margin: 0;
    &:checked + .checkbox-control {
      &:after {
        opacity: 1;
      }
      &:hover {
        &:before {
          opacity: 0;
        }
      }
      + .checkbox-control_close {
        z-index: 1;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &.be-selected {
    .option:hover {
      input {
        + .checkbox-control {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  .checkbox-input {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  .checkbox-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      background: @color-checkbox-selected;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: ~'calc(100% - 2px)';
      height: ~'calc(100% - 2px)';
      border-radius: 2px;
      opacity: 0;
      .transition;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 3px;
      transform: rotate(45deg);
      width: 6px;
      height: 8px;
      border: 2px solid @color-checkbox;
      border-top: 0;
      border-left: 0;
      opacity: 0;
      transition: all .3s ease;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &_close {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      border: 1px solid #bcbcbc;
      border-radius: 3px;
      opacity: 0;
      .transition;
      &:before,
      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 2px;
        height: 12px;
        background: @color-checkbox-removed;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}