.dropdown-wrap {
  position: relative;
  min-width: 242px;
  margin-bottom: 0;
  &:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-left: 1px solid @color-text-title;
    border-bottom: 1px solid @color-text-title;
    transform: rotate(-45deg) translateY(-50%);
    top: ~'calc(50% - 3px)';
    right: 7px;
  }
  &.field-date {
    position: relative;
    min-width: 162px;
    &:after {
      right: 39px;
    }
    .icon-bg {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      right: 0;
      width: 32px;
      height: 100%;
      background: @link-red;
    }
    .icon-image {
      width: 18px;
      margin: 0 auto;
    }
  }
  &.dropdown-sm {
    min-width: 80px;
  }
}
.field-dropdown {
  width: 100%;
  height: 32px;
  padding: 0 7px;
}

.dropdown {
  .w100;
  .dropdown-toggle {
    display: inline-block;
    .rounded (0px) !important;
    .text-center;
    .relative;
    &:focus, &:hover {
      background-color: transparent !important;
    }
    i {
      margin-right: 20px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .dropdown-menu {
    min-width: 0;
    color: @color-text-main;
    border: none;
    right: 0;
    .absolute;
    .rounded (0px);
    .boxShadow;
    .font-regular;
    li {
      margin: 0 1px;
      .transition;
      a {
        display: block;
        padding: 0;
        .transition;
        .text-center;
        i {
          margin: 5px auto 0 auto;
        }
      }
    }
  }
}