.field {
  width: 100%;
  background: none;
  padding: 10px;
  .font-regular;
  .mix-fz(20);
  text-transform: none;
  letter-spacing: 3px;
  &:focus {
    outline: none;
  }
  &-wrap {
    position: relative;
    width: 100%;
    border-bottom: 2px solid @black;
    margin-bottom: 30%;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 18px;
      height: 2px;
      background: @black;
      transform: rotate(45deg);
      bottom: 4px;
    }
    &:before {
      left: -15px;
    }
    &:after {
      right: -15px;
      transform: rotate(-45deg);
    }
    &:first-of-type {

    }
  }
}