@railHeight: 7px;
@controlHeight: 10px;
@controlWidth: 10px;

.noUi-target {
  height: @railHeight;
  background: #f1f1ef;
  border: none;
  box-shadow: none;
  margin-bottom: 40px;
}

.noUi-horizontal {
  .noUi-handle {
    width: @controlWidth;
    height: @controlHeight;
    background: @white;
    box-shadow: 0 0 0 1px #bababa;
    top: ~'calc(50% - (@{controlHeight} / 2) + (@{railHeight} / 2))';
    border: none;
    transform: rotate(45deg);
    .rounded(0);
    cursor: pointer;
    &:before,
    &:after {
      display: none;
    }
    &:active, &:focus {
      outline: none;
    }
  }
}

.noUi-connect {
  background: @black;
  left: 6px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -10px;
}

.slider-value {
  .font-regular;
  .mix-fz(24);
  color: #d40000;
  &_lower {
    float: left;
  }
  &_upper {
    float: right;
  }
}