.about-page {
  .heading {
    display: block;
    font-size: 26px;
    margin-bottom: 50px;
  }
  p {
    font-size: 22px;
    line-height: 42px;
  }
  .tw-row {
    margin-bottom: 120px;
    .tw-column {
      &:nth-of-type(1) {
        padding-right: 60px;
        border-right: 1px solid @black;
      }
      &:nth-of-type(2) {
        padding-left: 60px;
      }
    }
  }
}