.catalog-page {
  .catalog-promo {
    margin-bottom: 95px;
    .tw-row {
      display: flex;
    }
  }
  .box {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin-right: 60px;
    float: left;
    padding: 50px;
    background: #f1f1ef;
    font-size: 28px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 14px;
      height: 31px;
      top: -11px;
      background: @white;
    }
    &:before {
      left: -7px;
      transform: rotate(45deg);
    }
    &:after {
      left: -7px;
      top: unset;
      bottom: -11px;
      transform: rotate(-45deg);
    }
    p {
      line-height: 42px;
      letter-spacing: 5px;
    }
    .heading {
      font-size: 36px;
      .font-medium;
      text-transform: uppercase;
    }
    .mix-mq(@desktop, {
    font-size: 18px;
      p {
        line-height: 32px;
        letter-spacing: 4px;
      }

    });
  }
  .promo-img {
    float: right;
  }
  .main-content {
    width: ~'calc(100% - 292px - 120px)';
    float: right;
  }
  .sort-panel {
    position: relative;
    margin-bottom: 70px;
    z-index: 2;
    .heading {
      display: block;
      margin-bottom: 13px;
    }
  }
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -47px;
    .product-item {
      position: absolute;
      background: @white;
      .product-size,
      .product-color {
        display: none;
      }
      .product-color {
        margin-bottom: 7px;
      }
      .product-name {
        margin-bottom: 7px;
      }
      .size-list {
        font-size: 16px;
        margin-left: 15px;
      }
      .product-color-list {
        margin-left: 10px;
        span {
          width: 10px;
          height: 10px;
          display: inline-block;
        }
        .color-blue {
          background: #6ac0f3;
          margin-right: 8px;
        }
        .color-red {
          background: #ed4e4e;
          margin-right: 8px;
        }
        .color-green {
          background: #28ca78;
        }
      }
      .buttons {
        display: none;
        position: absolute;
        height: 38px;
        border-top: 1px solid @black;
        line-height: 38px;
        width: 100%;
        left: 0;
        bottom: 0;
        span {
          display: inline-block;
          width: 50%;
          text-align: center;
          font-size: 16px;
          .font-regular;
          color: @black;
          &:nth-of-type(1) {
            color: @white;
            background: @black;
            &:hover {
              background: lighten(@black, 15);
            }
          }
          &:hover {
            text-decoration: none;
          }
        }
        &:before,
        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 17px;
          height: 11px;
          bottom: -4px;
          background: @white;
        }
        &:before {
          left: -7px;
          transform: rotate(45deg);
        }
        &:after {
          right: -7px;
          transform: rotate(-45deg);
          border-top: 1px solid @black;
        }
      }
    }
    .product-item-wrap {
      position: relative;
      width: 242px;
      height: 390px;
      margin: 0 38px 50px;
      color: @black;
      &:hover {
        .product-item {
          top: -25px;
          left: -34px;
          border: 1px solid #000;
          padding: 24px 33px;
          width: 310px;
          height: 504px;
          z-index: 1;
          &:before,
          &:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 17px;
            height: 11px;
            top: -4px;
            background: @white;
            border-bottom: 1px solid @black;
          }
          &:before {
            left: -7px;
            transform: rotate(-45deg);
          }
          &:after {
            right: -7px;
            transform: rotate(45deg);
          }
        }
        .product-image {
          opacity: .5;
        }
        .product-category {
          display: none;
        }
        .product-color,
        .product-size {
          display: block;
          color: @black;
        }
        .buttons {
          display: flex;
        }
      }
    }
    .mix-mq(@desktop, {
      margin-left: 0;
      margin-right: 0;
      .product-item-wrap {
        margin-left: 24px;
        margin-right: 24px;
      }
    });
  }
  .select-group {
    display: flex;
    justify-content: space-between;
    .custom-select {
      flex-grow: 1;
      height: 50px;
      text-align: center;
      margin-left: -1px;
      &:first-of-type {
        margin-left: 0;
      }
      &__option {
        width: 100%;
        border: 1px solid @black;
        height: 100%;
        display: flex;
        justify-content: center;
        font-size: 16px;
        letter-spacing: 2px;
        cursor: pointer;
        margin-top: -1px;
        padding: 10px 0;
        .rounded(0);
        &:focus, &:active {
          outline: none;
        }
        &:after {
          width: 4px;
          height: 4px;
          border: none;
          border-left: 1px solid @black;
          border-bottom: 1px solid @black;
          transform: rotate(-45deg);
          .transition;
        }
      }
      &__dropdown {
        .rounded(0);
      }
      &--active {
        .custom-select__option {
          &:after {
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}