.home-page {
  .autumn-sale {
    height: 968px;
    display: flex;
    background: url('@{images}autumn-sale-bg.png') top center / contain no-repeat;
    p {
      max-width: 420px;
      text-align: center;
      margin: 0 auto 60px;
    }
    .like-heading-h2 {
      margin-top: 30%;
    }
    .mix-mq(@desktop, {
      background-size: cover;
      height: 630px;
    });
    .mix-mq(@phone, {
      background: #f2f2f2;
    });
  }
  .new-arrival {
    .like-heading-h3 {
      margin-top: 150px;
    }
    .female-lookbook {
      max-width: 540px;
      float: left;
    }
    .male-lookbook {
      position: relative;
      max-width: 540px;
      float: right;
      .control {
        top: 24%;
        right: 36%;
      }
    }
    .mix-mq(@tablet-wide, {
      .tw-row {
        display: flex;
        align-items: center;
      }
      .like-heading-h3 {
        margin-top: 0;
      }
    });
  }
  .new-acronym-collection {
    .tw-row {
      display: flex;
      font-size: 0;
    }
    .img-wrap {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        .transition;
      }
      &:hover {
        .more-info {
          opacity: 1;
        }
        &:after {
          opacity: 1;
        }
      }
      &:nth-of-type(1) {
        margin-right: 150px;
        &:after {
          background: url('@{images}/acronym-collection-1-hover.png') center / cover no-repeat;
        }
      }
      &:nth-of-type(2) {
        margin: 0 auto;
        &:after {
          background: url('@{images}/acronym-collection-2-hover.png') center / cover no-repeat;
        }
      }
      &:nth-of-type(3) {
        margin-left: 150px;
        &:after {
          background: url('@{images}/acronym-collection-3-hover.png') center / cover no-repeat;
        }
      }
      .more-info {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        padding: 10px 30px;
        transform: translateY(-50%);
        opacity: 0;
        z-index: 1;
        .transition;
        .heading {
          display: block;
          font-size: 36px;
          text-align: center;
          margin-bottom: 60px;
          .font-medium;
          text-transform: uppercase;
          color: @white;
        }
        &-content {
          display: block;
          font-size: 26px;
          .font-light;
          color: @white;
          margin-bottom: 90px;
        }
      }
    }
  }
  .our-technology {
    margin-bottom: 10%;
    .img-wrap {
      position: relative;
    }
    .product-name {
      position: absolute;
      max-width: 417px;
      display: block;
      .font-regular;
      color: @white;
      right: 12%;
      line-height: 38px;
      bottom: 24%;
      .mix-fz(28);
      .font-bigger {
        display: block;
        .font-medium;
        .mix-fz(36);
        margin-top: 8px;
      }
    }
  }
  .subscribe {
    padding-top: 2%;
    padding-bottom: 11%;
    background: url('@{images}subscribe-bg.png') center top no-repeat;
    &-form {
      max-width: 365px;
      margin: 0 auto;
    }
    .section-heading {
      background: none;
      padding-bottom: 9%;
    }
    .heading-content {
      top: 0;
      background: none;
    }
  }
}