.item-select,
.item-select-one {
  cursor: pointer;
}

.product-page {
  .quantity {
    display: flex;
    align-items: center;
    span:first-of-type {
      display: inline-block;
      margin-right: 31px;
    }
  }
  .wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  .sizes {
    display: inline-block;
    margin-left: 40px;
    .item-select-one {
      color: #808080;
      display: inline-block;
      margin: 0 4px;
    }
    .active {
      color: @black;
      font-weight: bold;
    }
  }
  .tw-column_5of12.mod {
    padding-left: 112px;
    .mix-mq(@desktop, {
      padding-left: 20px;
      width: 35.52525253%;
    });
  }
  .tw-column_7of12.mod {
    padding-right: 54px;
    .mix-mq(@desktop, {
      width: 57.82828283%;
    });
  }
  .product-options {
    .btn {
      max-width: none;
      height: 82px;
      line-height: 82px;
      margin-bottom: 70px;
    }
    .product-name {
      display: block;
      .mix-fz(36);
      .font-medium;
      margin-bottom: 20px;
    }
    .product-price {
      display: block;
      .mix-fz(36);
      margin-bottom: 30px;
    }
  }
  .product-gallery {
    max-height: 783px;
    margin-bottom: 155px;
    overflow: hidden;
    .slider-nav {
      position: relative;
      background: #f2f2f2;
      width: 163px;
      float: left;
      margin-right: 55px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -15px;
        left: -15px;
        display: block;
        width: 40px;
        height: 20px;
        transform: rotate(-45deg);
        background: @white;
        z-index: 2;
      }
      &:after {
        top: unset;
        transform: rotate(45deg);
        bottom: 10px;
      }
      .mix-mq(@desktop, {
        &:after {
          bottom: 182px;
        }
      });
    }
    .slider-for {
      width: 664px;
      float: left;
      .mix-mq(@desktop, {
        width: 476px;
      });
    }
    .slick-arrow {
      left: 0;
      height: 32px;
      z-index: 1;
      &:hover {
        background: rgba(207, 207, 207, 0.4);
      }
    }
    .slick-prev {
      top: 32px / 2;
      &:before {
        transform: rotate(135deg);
      }
    }
    .slick-next {
      top: unset;
      bottom: 7px;
      &:before {
        top: ~'calc(50% - 7px)';
        transform: rotate(-45deg);
      }
      .mix-mq(@desktop, {
        bottom: 181px;
      });
    }
    .mix-mq(@desktop, {
      max-height: 600px;
    });
  }
  .product-reviews {
    .heading {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      padding-bottom: 20px;
      border-bottom: 1px solid @black;
      text-transform: uppercase;
      margin-bottom: 55px;
    }
    .review {
      border-bottom: 1px solid #bbbbbb;
      margin-bottom: 35px;
      &:last-of-type {
        border-bottom: none;
      }
      &_header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }
      &_author {
        font-size: 22px;
        .font-regular;
        margin-right: 10px;
      }
      &_date {
        font-size: 20px;
      }
      &_text {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 35px;
        .mix-mq(@desktop, {
          font-size: 18px;
        });
      }
      &_readmore {
        font-size: 20px;
        text-decoration: underline;
        color: @black;
      }
    }
    .btn {
      max-width: 359px;
      height: 62px;
      line-height: 62px;
      float: left;
      .mix-fz(24);
      border-color: @black;
      margin-top: 30px;
    }
  }
}

.slick-arrow {
  width: 100%;
  background: rgba(207, 207, 207, .6);
  z-index: 1;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: ~'calc(50% - 2px)';
    left: ~'calc(50% - 5px)';
    width: 10px;
    height: 10px;
    border-left: 2px solid @black;
    border-bottom: 2px solid @black;
  }
}